:root {
    --bg: #0f1724;
    --card: #1e293b;
    --muted: #94a3b8;
    --accent: #0f7cff;
    --glass: rgba(255, 255, 255, 0.1);
    --bg-start: #0f1724;
    --bg-end: #1e293b;
    --text: #ffffff;
}


html,
body {
    height: 100%;
    padding: 5vh;
    padding-top: 0;
}

#page {
    padding-top: var(--nav-height);
}

#gamblingCurrent {
    border: solid;
    border-color: var(--accent);
    border-width: 0.5vh;
}